name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.24','1.25']
        servers: [ "ubuntu-latest","windows-latest","macos-latest","macos-13"]
    env:
      GOTOOLCHAIN: local

    steps:
    - uses: actions/checkout@v4

    - name: Go ${{ matrix.go }} On ${{ matrix.servers }}
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}

    - name: Display Go version
      run: go version

    - name: Build
      run: go build -v

    - name: Test
      run: go test -v ./...

    - name: Self-Format
      run: ./go_fmt -rr -d ./...
      
    - name: staticcheck
      run: go install honnef.co/go/tools/cmd/staticcheck@latest && staticcheck ./...
